.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.header {
    border: 1px solid rgb(94, 144, 219);
}

.main {
    border: 1px solid black;
}

.footer {
    border: 1px solid black;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.html {
    scroll-behavior: smooth;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.photo {
    width: 200px;
    height: 200px;
    background: url("image.jpg");
    background-size: cover;
    margin: 20px;
    border-radius: 50%
}